@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700|Roboto:300,700&display=swap");
header #nav-1.navbar .nav-link, header #nav-1.navbar .nav-link:visited, header #nav-1.navbar .nav-link:hover, header #nav-1.navbar .dropdown-menu .dropdown-item, header #nav-1.navbar .dropdown-menu .dropdown-item:visited, header #nav-1.navbar .dropdown-menu .dropdown-item:hover, .booking-box .booking-form .form-control,
.booking-box .booking-form .custom-select,
.booking-box .booking-form .btn, .booking-box .booking-months a, .booking-box .booking-months a:visited, .booking-box .booking-months a:hover,
.booking-box .booking-holidays a,
.booking-box .booking-holidays a:visited,
.booking-box .booking-holidays a:hover, .topline .title, .btn-transparent, .btn-transparent:visited, .primary-description {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-style: normal;
}

header #nav-1.navbar .nav-callto, header #nav-1.navbar .nav-callto:visited, header #nav-1.navbar .nav-callto:hover, .hotel-list-item .bottomline .goto, .hotel-list-item .bottomline .goto:visited, .hotel-list-item .bottomline .goto:hover, .btn-yellow, .btn-green, .btn-more, .btn-more:visited, .primary-title, .primary-title h1, .primary-title h2, .primary-title h3, .primary-title h4, .home-primopiano-item .title {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-style: normal;
}

*:focus {
  outline: none !important;
}

.pt-10, .py-10 {
  padding-top: 8rem !important;
}

.pb-10, .py-10 {
  padding-bottom: 8rem !important;
}

.mt-10, .my-10 {
  padding-top: 8rem !important;
}

.mb-10, .my-10 {
  padding-bottom: 8rem !important;
}

.bg-transparent {
  background-color: transparent;
}

.no-gutter.row {
  margin-left: 0;
  margin-right: 0;
}

.no-gutter.container,
.no-gutter.container-fluid,
.no-gutter > [class^="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.no-padding {
  padding: 0 !important;
}

.full-height {
  height: 100%;
}

.full-width {
  width: 100%;
}

.flutter-wrap {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flutter-wrap.flutter-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.flutter-wrap .flutter-box {
  max-width: 615px;
  padding-top: 5rem;
  padding-bottom: 5rem;
  padding-left: 15px;
  padding-right: 15px;
}

.flex-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.flex-col {
  width: 30%;
}

ul {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

.img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.img.all {
  width: 100%;
  height: 100%;
}

.img-fixed {
  background-attachment: fixed;
}

.img-bgas {
  position: relative;
  overflow: hidden;
  margin: 0;
}

.img-bgas img, .img-bgas video {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

.full-width img {
  width: 100%;
}

header #nav-1.navbar .nav-link::before, .booking-box .booking-months a::after, .booking-box .booking-months a:visited::after, .booking-box .booking-months a:hover::after,
.booking-box .booking-holidays a::after,
.booking-box .booking-holidays a:visited::after,
.booking-box .booking-holidays a:hover::after, .prices-date::before, .hotel-list-item figure.img-bgas::after, .single-hotel-section .content-box::before {
  content: "";
  position: absolute;
  background-position: center center;
  background-repeat: no-repeat;
}

.ico {
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
}

.ico-mail {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 11.23 7.97'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23384044;}%3C/style%3E%3C/defs%3E%3Ctitle%3Email%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpath class='cls-1' d='M.69,7.28V5.15l2.15-2L5.38,5.48a.36.36,0,0,0,.24.09.35.35,0,0,0,.23-.09L8.4,3.12l2.1,2,.05,0V7.28Zm9.86-6.15V4.2L8.9,2.65ZM1.22.69H10L5.62,4.76Zm-.53.44L2.33,2.65.69,4.2ZM10.89,0H.34A.34.34,0,0,0,0,.34V7.63A.34.34,0,0,0,.34,8H10.89a.34.34,0,0,0,.34-.34V.34A.34.34,0,0,0,10.89,0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-star {
  width: 15px;
  height: 15px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10.71 10'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23ffe00a;}%3C/style%3E%3C/defs%3E%3Ctitle%3Estar%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpolygon class='cls-1' points='5.36 0 4.25 4.04 0 3.82 3.57 6.1 2.05 10 5.36 7.37 8.67 10 7.14 6.1 10.71 3.82 6.46 4.04 5.36 0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-arrow-curved {
  width: 18px;
  height: 28px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 27.14'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23384044;}%3C/style%3E%3C/defs%3E%3Ctitle%3Efreccia%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpolygon class='cls-1' points='7.45 27.14 0.38 20.07 7.45 13 8.16 13.71 1.79 20.07 8.16 26.43 7.45 27.14'/%3E%3Cpath class='cls-1' d='M6.88,21V20A9.32,9.32,0,0,0,16,10.5,9.32,9.32,0,0,0,6.88,1H0V0H6.88A10.33,10.33,0,0,1,17,10.5,10.33,10.33,0,0,1,6.88,21Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-childrens {
  width: 20px;
  height: 20px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%234fbaad;}%3C/style%3E%3C/defs%3E%3Ctitle%3EBambini_gratis%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpath class='cls-1' d='M4.3,10.82a.51.51,0,0,1-.36-.15.5.5,0,0,1,0-.7,3.35,3.35,0,0,1,4.74,0,.49.49,0,0,1-.7.7,2.37,2.37,0,0,0-3.33,0A.49.49,0,0,1,4.3,10.82Z'/%3E%3Cpath class='cls-1' d='M10,17.09a4.46,4.46,0,0,1-2.89-1,.5.5,0,1,1,.64-.76,3.53,3.53,0,0,0,4.42.06.5.5,0,0,1,.7.09.5.5,0,0,1-.08.7A4.51,4.51,0,0,1,10,17.09Z'/%3E%3Cpath class='cls-1' d='M11.67,10.82a.5.5,0,0,1-.35-.85,3.35,3.35,0,0,1,4.74,0,.5.5,0,0,1,0,.7.5.5,0,0,1-.71,0,2.37,2.37,0,0,0-3.33,0A.47.47,0,0,1,11.67,10.82Z'/%3E%3Cpath class='cls-1' d='M10,20A10,10,0,1,1,20,10,10,10,0,0,1,10,20ZM10,1a9,9,0,1,0,9,9A9,9,0,0,0,10,1Z'/%3E%3Cpath class='cls-1' d='M9,7.69A3.48,3.48,0,0,1,5.48,4.21,4.22,4.22,0,0,1,9.7,0a.5.5,0,0,1,0,1A3.22,3.22,0,0,0,6.48,4.21,2.48,2.48,0,0,0,9,6.69a1.88,1.88,0,0,0,1.88-1.88.5.5,0,0,1,1,0A2.88,2.88,0,0,1,9,7.69Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-nave {
  width: 150px;
  height: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 151.73 151.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Ctitle%3Enave%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpath class='cls-1' d='M150.28,143.21l-17.65-17.75a5,5,0,0,0-3.54-1.48h0a5,5,0,0,0-3.53,1.46l-14.24,14.22L97.13,125.45A5,5,0,0,0,93.59,124h0a5,5,0,0,0-3.54,1.47l-14.18,14.2-14.14-14.2A5,5,0,0,0,58.19,124h0a5,5,0,0,0-3.53,1.47l-14.2,14.2-14.16-14.2A5,5,0,0,0,22.75,124h0a5,5,0,0,0-3.54,1.47L1.46,143.2a5,5,0,1,0,7.08,7.07l14.2-14.21,14.16,14.2a5,5,0,0,0,3.54,1.47h0A5,5,0,0,0,44,150.27l14.2-14.21,14.14,14.2a5,5,0,0,0,3.54,1.47h0a5,5,0,0,0,3.54-1.46l14.19-14.21,14.18,14.2a5,5,0,0,0,3.54,1.47h0a5,5,0,0,0,3.53-1.46l14.23-14.21,14.12,14.2a5,5,0,1,0,7.09-7'/%3E%3Cpath class='cls-1' d='M37.81,38.33h76.11l4.88,22.91L77.91,42.94a5,5,0,0,0-4.09,0L32.94,61.24Zm21-17.74h34l1.65,7.74H57.21ZM32.08,122.23a5,5,0,0,0,8.78-4.79L19.48,78.22l51.39-23v63.16a5,5,0,0,0,10,0V55.22l51.38,23-21.38,39.22a5,5,0,0,0,2,6.78,4.91,4.91,0,0,0,2.39.61,5,5,0,0,0,4.39-2.6l24-44a5,5,0,0,0-2.35-7l-11.17-5-7.24-34a5,5,0,0,0-4.89-4H104.74l-2.93-13.78a5,5,0,0,0-4.89-4h-16V5a5,5,0,0,0-10,0v5.59H54.81a5,5,0,0,0-4.89,4L47,28.33H33.76a5,5,0,0,0-4.89,4l-7.23,34-11.18,5a5,5,0,0,0-2.35,7Z'/%3E%3Cpath class='cls-1' d='M59.7,68.11,45.11,74.64a5,5,0,0,0,2,9.57,4.9,4.9,0,0,0,2-.44l14.6-6.53a5,5,0,1,0-4.09-9.13'/%3E%3Cpath class='cls-1' d='M92,68.11a5,5,0,0,0-4.09,9.13l14.6,6.53a4.9,4.9,0,0,0,2,.44,5,5,0,0,0,2-9.57Z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-orologio {
  width: 150px;
  height: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 151.73 151.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Ctitle%3Eorologio%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpath class='cls-1' d='M122.44,122.44A65.87,65.87,0,0,1,29.29,29.29a65.87,65.87,0,0,1,93.15,93.15m7.07-100.22A75.87,75.87,0,0,0,22.22,129.51,75.87,75.87,0,0,0,129.51,22.22'/%3E%3Cpath class='cls-1' d='M80.55,77.5a5,5,0,0,0,.32-1.73V43.66a5,5,0,0,0-10,0V74L54.67,90.21a5,5,0,0,0,7.07,7.08L79.26,79.77a4.91,4.91,0,0,0,1.29-2.27'/%3E%3Cpath class='cls-1' d='M75.87,19.4A7.09,7.09,0,1,0,83,26.49a7.09,7.09,0,0,0-7.08-7.09'/%3E%3Cpath class='cls-1' d='M75.87,118.15A7.09,7.09,0,1,0,83,125.24a7.09,7.09,0,0,0-7.08-7.09'/%3E%3Cpath class='cls-1' d='M26.49,68.78a7.09,7.09,0,1,0,7.09,7.09,7.09,7.09,0,0,0-7.09-7.09'/%3E%3Cpath class='cls-1' d='M125.24,68.78a7.09,7.09,0,1,0,7.09,7.09,7.09,7.09,0,0,0-7.09-7.09'/%3E%3Cpath class='cls-1' d='M105.77,35.94a7.09,7.09,0,1,0,10,0,7.08,7.08,0,0,0-10,0'/%3E%3Cpath class='cls-1' d='M35.94,105.77a7.09,7.09,0,1,0,10,0,7.08,7.08,0,0,0-10,0'/%3E%3Cpath class='cls-1' d='M35.94,35.94a7.09,7.09,0,1,0,10,0,7.08,7.08,0,0,0-10,0'/%3E%3Cpath class='cls-1' d='M105.77,105.77a7.09,7.09,0,1,0,10,0,7.08,7.08,0,0,0-10,0'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.ico-cal {
  width: 150px;
  height: 150px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 151.73 151.73'%3E%3Cdefs%3E%3Cstyle%3E.cls-1{fill:%23fff;}%3C/style%3E%3C/defs%3E%3Ctitle%3Ecalendario%3C/title%3E%3Cg id='Livello_2' data-name='Livello 2'%3E%3Cg id='Livello_1-2' data-name='Livello 1'%3E%3Cpath class='cls-1' d='M141.73,141.73H10V38.35H21.12V51.06a5,5,0,0,0,10,0V38.35H46V51.06a5,5,0,0,0,10,0V38.35H70.8V51.06a5,5,0,0,0,10,0V38.35H95.65V51.06a5,5,0,0,0,10,0V38.35h14.84V51.06a5,5,0,0,0,10,0V38.35h11.24Zm5-113.38H130.49V5a5,5,0,0,0-10,0V28.35H105.65V5a5,5,0,0,0-10,0V28.35H80.8V5a5,5,0,0,0-10,0V28.35H56V5A5,5,0,0,0,46,5V28.35H31.12V5a5,5,0,0,0-10,0V28.35H5a5,5,0,0,0-5,5V146.73a5,5,0,0,0,5,5H146.73a5,5,0,0,0,5-5V33.35a5,5,0,0,0-5-5'/%3E%3Cpath class='cls-1' d='M62.87,108.88a16.44,16.44,0,1,1-32.87,0V89.1a16.44,16.44,0,1,1,32.87,0ZM46.43,62.66A26.47,26.47,0,0,0,20,89.1v19.78a26.44,26.44,0,1,0,52.87,0V89.1A26.47,26.47,0,0,0,46.43,62.66'/%3E%3Cpath class='cls-1' d='M128,125.32H116.54V68.16a5.5,5.5,0,0,0-.12-1.08,5,5,0,0,0-8.45-2.6L88,84.41a5,5,0,0,0,7.07,7.07l11.43-11.43v45.27H91.69a5,5,0,0,0,0,10H128a5,5,0,1,0,0-10'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

header .navbar-toggler {
  position: relative;
  width: 30px;
  height: 33px;
  padding: 0;
}

header .navbar-toggler span {
  display: block;
  background-color: #FFF;
  height: 2px;
  width: 100%;
  margin-bottom: 8px;
  position: relative;
  right: 0;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
}

header .navbar-toggler span:last-child {
  margin-bottom: 0;
}

header .navbar-toggler span:nth-child(2) {
  width: 70%;
}

header .navbar-toggler span:nth-child(1), header .navbar-toggler span:nth-child(3) {
  -webkit-transition: transform .35s ease-in-out;
  -webkit-transition: -webkit-transform .35s ease-in-out;
  transition: -webkit-transform .35s ease-in-out;
  transition: transform .35s ease-in-out;
  transition: transform .35s ease-in-out, -webkit-transform .35s ease-in-out;
}

header .navbar-toggler:not(.collapsed) span:nth-child(1) {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
  opacity: 0.9;
}

header .navbar-toggler:not(.collapsed) span:nth-child(2) {
  height: 8px;
  visibility: hidden;
  background-color: transparent;
}

header .navbar-toggler:not(.collapsed) span:nth-child(3) {
  position: absolute;
  right: 0;
  top: 15px;
  -webkit-transform: rotate(-135deg);
  transform: rotate(-135deg);
  opacity: 0.9;
}

header .navbar .separator {
  font-size: 12px;
  color: #4fbaad;
  padding: .5rem;
}

header #nav-0 {
  background-color: rgba(56, 64, 68, 0.15);
  font-size: 10px;
  color: #384044;
  height: 31px;
}

header #nav-0 ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 100%;
}

header #nav-0 ul li {
  display: inline-block;
  padding: 0;
}

header #nav-0 ul li .nav-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  padding: 0 .4rem;
}

header #nav-0 ul li .nav-link, header #nav-0 ul li .nav-link:hover {
  color: #384044;
}

header #nav-0 ul li i {
  font-size: 15px;
}

header #nav-0 ul li span {
  padding-left: 5px;
}

header #nav-1.navbar {
  background-color: #384044;
  color: #FFF;
  -webkit-transition: background-color .35s;
  transition: background-color .35s;
}

header #nav-1.navbar .navbar-brand .navbar-logo img {
  -webkit-transition: all .35s ease-in-out;
  transition: all .35s ease-in-out;
}

@media screen and (max-width: 574px) {
  header #nav-1.navbar .navbar-brand .navbar-logo img {
    width: 180px;
  }
}

@media screen and (min-width: 575px) {
  header #nav-1.navbar .navbar-brand .navbar-logo img {
    width: 250px;
  }
}

header #nav-1.navbar .nav-link, header #nav-1.navbar .nav-link:visited, header #nav-1.navbar .nav-link:hover {
  position: relative;
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
}

header #nav-1.navbar .nav-link:hover, header #nav-1.navbar .nav-item.show .nav-link {
  color: #4fbaad;
}

header #nav-1.navbar .nav-link::before {
  display: none;
  left: 0;
  background-color: #4fbaad;
}

header #nav-1.navbar .nav-link:hover::before,
header #nav-1.navbar .nav-item.show .nav-link::before {
  display: block;
}

header #nav-1.navbar .nav-callto, header #nav-1.navbar .nav-callto:visited, header #nav-1.navbar .nav-callto:hover {
  font-size: 18px;
  color: #fbb800;
  text-transform: lowercase;
}

header #nav-1.navbar .nav-callto::before {
  background-color: #fbb800;
  bottom: -8px;
}

header #nav-1.navbar .dropdown-menu {
  border: none;
  background-color: #384044;
  border-radius: 0;
}

header #nav-1.navbar .dropdown-menu .dropdown-item, header #nav-1.navbar .dropdown-menu .dropdown-item:visited, header #nav-1.navbar .dropdown-menu .dropdown-item:hover {
  font-size: 12px;
  text-transform: uppercase;
  color: #FFF;
  background-color: transparent;
  padding: .25rem .5rem;
}

header #nav-1.navbar .dropdown-menu .dropdown-item:hover {
  color: #4fbaad;
}

header #nav-1.navbar .navbar-collapse.show,
header #nav-1.navbar .navbar-collapse.collapsing {
  position: relative;
  top: 80px;
  background-color: #384044;
  margin-left: -15px;
  margin-right: -15px;
  padding: 15px;
}

header #nav-1.navbar .navbar-collapse.show .separator,
header #nav-1.navbar .navbar-collapse.collapsing .separator {
  display: none;
}

header #nav-1.navbar.navbar-scroll {
  padding: 0rem 1rem;
}

header #nav-1.navbar.navbar-scroll .navbar-brand .navbar-logo img {
  width: 160px;
}

@media screen and (max-width: 1199px) {
  header #nav-1.navbar .nav-link::before {
    bottom: 0;
    width: 160px;
    height: 2px;
  }
}

@media screen and (min-width: 1200px) {
  header #nav-1.navbar .nav-link::before {
    bottom: -12px;
    width: 100%;
    height: 10px;
  }
  header #nav-1.navbar .nav-callto::before {
    bottom: -8px;
  }
  header #nav-1.navbar .dropdown-menu {
    top: 44px;
  }
  header #nav-1.navbar.navbar-scroll .nav-link::before {
    bottom: -4px;
  }
  header #nav-1.navbar.navbar-scroll .dropdown-menu {
    top: 36px;
  }
}

.booking-box {
  position: relative;
}

.booking-box .booking-form,
.booking-box .booking-months,
.booking-box .booking-holidays {
  position: relative;
  min-height: 70px;
  padding: 15px;
}

.booking-box .booking-form {
  background-color: rgba(56, 64, 68, 0.15);
  -webkit-transition: all .35s;
  transition: all .35s;
}

.booking-box .booking-form.hide {
  display: none;
}

.booking-box .booking-form .form-control,
.booking-box .booking-form .custom-select {
  padding: 6px 5px;
  border: solid 1px #FFF;
  height: calc(2rem + 2px);
  border-radius: 0;
}

.booking-box .booking-form .btn {
  padding: .445rem .75rem;
}

.booking-box .booking-form .form-control,
.booking-box .booking-form .custom-select,
.booking-box .booking-form .btn {
  font-size: 12px;
  font-size: 12px;
}

.booking-box .booking-months {
  background: #62b7ae;
  background: -webkit-gradient(linear, left top, right top, from(rgba(98, 183, 174, 0.385592)), to(rgba(34, 179, 224, 0.377188)));
  background: linear-gradient(90deg, rgba(98, 183, 174, 0.385592) 0%, rgba(34, 179, 224, 0.377188) 100%);
}

.booking-box .booking-holidays {
  background: #f5b937;
  background: -webkit-gradient(linear, left top, right top, from(rgba(245, 185, 55, 0.379989)), to(rgba(98, 183, 174, 0.377188)));
  background: linear-gradient(90deg, rgba(245, 185, 55, 0.379989) 0%, rgba(98, 183, 174, 0.377188) 100%);
}

@media screen and (max-width: 767px) {
  .booking-box .booking-months,
  .booking-box .booking-holidays {
    padding: 15px 50px;
  }
}

@media screen and (min-width: 768px) {
  .booking-box .booking-months,
  .booking-box .booking-holidays {
    padding: 15px 8.333333%;
  }
}

.booking-box .booking-months .swiper-container,
.booking-box .booking-months .swiper-wrapper,
.booking-box .booking-holidays .swiper-container,
.booking-box .booking-holidays .swiper-wrapper {
  height: 100%;
}

.booking-box .booking-months a, .booking-box .booking-months a:visited, .booking-box .booking-months a:hover,
.booking-box .booking-holidays a,
.booking-box .booking-holidays a:visited,
.booking-box .booking-holidays a:hover {
  position: relative;
  display: block;
  padding-top: 10px;
  font-size: 12px;
  color: #384044;
  text-decoration: none;
  line-height: 1.2em;
}

.booking-box .booking-months a::after, .booking-box .booking-months a:visited::after, .booking-box .booking-months a:hover::after,
.booking-box .booking-holidays a::after,
.booking-box .booking-holidays a:visited::after,
.booking-box .booking-holidays a:hover::after {
  top: 5px;
  left: 0;
  width: 15px;
  height: 1px;
  background-color: #384044;
}

.booking-box .booking-months .swiper-button-next,
.booking-box .booking-months .swiper-button-prev,
.booking-box .booking-holidays .swiper-button-next,
.booking-box .booking-holidays .swiper-button-prev {
  width: 20px;
  height: 20px;
  background-size: 20px 20px;
  margin-top: -10px;
}

.booking-box .booking-months .swiper-button-next, .booking-box .booking-months .swiper-container-rtl .swiper-button-prev,
.booking-box .booking-holidays .swiper-button-next,
.booking-box .booking-holidays .swiper-container-rtl .swiper-button-prev {
  right: 15px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23384044'%2F%3E%3C%2Fsvg%3E");
}

.booking-box .booking-months .swiper-button-prev, .booking-box .booking-months .swiper-container-rtl .swiper-button-next,
.booking-box .booking-holidays .swiper-button-prev,
.booking-box .booking-holidays .swiper-container-rtl .swiper-button-next {
  left: 15px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23384044'%2F%3E%3C%2Fsvg%3E");
}

@media screen and (max-width: 991px) {
  .booking-box .booking-form .form-control,
  .booking-box .booking-form .custom-select {
    margin-bottom: 15px;
  }
}

.front-page .booking-box {
  margin-top: -70px;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #384044 !important;
}

input::-moz-input-placeholder,
textarea::-moz-input-placeholder {
  color: #384044 !important;
}

input:-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #384044 !important;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #384044 !important;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #384044 !important;
}

input::-ms-input-placeholder,
textarea::-ms-input-placeholder {
  color: #384044 !important;
}

input::placeholder,
textarea::placeholder {
  color: #384044 !important;
}

.form-control,
.custom-select {
  border-radius: 0;
}

.form-control:focus,
.custom-select:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.form-control {
  background-clip: border-box;
}

.form-template-1 .form-control,
.form-template-1 .custom-select {
  color: #384044;
  font-size: 16px;
  padding: .375rem .75rem .375rem 0;
  border: none;
  border-bottom: solid 1px #384044;
}

.form-template-1 .form-control:focus,
.form-template-1 .custom-select:focus {
  font-size: 18px;
  border-bottom: solid 2px #384044;
}

.form-template-1 .form-control {
  background: transparent;
}

.form-template-1 .custom-select {
  background: transparent url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
  background-size: 8px 8px;
}

.form-template-1 .custom-select option {
  font-size: 16px;
}

.form-template-2 .form-control,
.form-template-2 .custom-select {
  color: #384044;
  font-size: 16px;
  background-color: #E1E2E3;
  border: solid 1px #E1E2E3;
}

.form-template-2 .form-control:focus,
.form-template-2 .custom-select:focus {
  font-size: 18px;
  border-bottom: solid 2px #384044;
}

.form-template-2 textarea {
  height: calc((2.25rem + 2px + 1rem) * 4 - 1rem);
}

.form-template-2 .btn-submit {
  padding: 5px 15px 5px;
  background-color: #384044;
  border: solid 1px #384044;
  color: #4fbaad;
  font-weight: 700;
  font-size: 18px;
  text-transform: uppercase;
}

.form-template-2 .btn-submit:hover {
  opacity: 0.9;
}

.custom-checkbox .custom-control-label {
  font-size: 12px;
}

.custom-checkbox .custom-control-label::before {
  border-radius: 0;
}

.custom-control-label::before {
  background-color: #FFF;
  border: solid 1px #384044;
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3E%3Cpath fill='%234fbaad' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #384044;
}

/* form-group-2 */
.form-group-2 {
  position: relative;
  height: calc(2.25rem + 2px);
}

.form-group-2 label.placeholder {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  color: #384044;
  font-size: 16px;
  padding: .375rem .75rem .375rem 0;
}

.form-group-2 .form-control {
  position: absolute;
  width: 100%;
  height: 100%;
}

.form-group-2.focus label.placeholder {
  top: -5px;
  font-size: 12px;
}

.topline {
  padding: 15px;
  background-color: #384044;
  color: #FFF;
}

.topline .title {
  font-size: 16px;
  text-transform: uppercase;
}

.topline .title span {
  font-weight: 700;
}

.topline .stars {
  color: #fbb800;
}

@media screen and (max-width: 991px) {
  .topline .stars {
    margin-bottom: 15px;
  }
  .topline .stars i {
    margin-right: 15px;
  }
}

@media screen and (min-width: 992px) {
  .topline {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-preferred-size: auto;
        flex-basis: auto;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    -webkit-box-align: space-between;
        -ms-flex-align: space-between;
            align-items: space-between;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .topline div:nth-child(1),
  .topline div:nth-child(2) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .topline .stars i {
    margin-left: 15px;
  }
}

.prices-box-container {
  margin-bottom: 60px;
}

.prices-box {
  margin-bottom: 30px;
}

.prices-box-details {
  margin-bottom: 30px;
}

.prices-date {
  display: inline-block;
  position: relative;
  padding-top: 15px;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 18px;
}

.prices-date::before {
  height: 10px;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #4fbaad;
}

.prices-date.prices-date-absolute {
  padding-top: 0;
}

.prices-date.prices-date-absolute::before {
  width: calc(100% + 15px);
  top: -15px;
  left: -15px;
}

.prices-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: auto;
      flex-basis: auto;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-align: space-between;
      -ms-flex-align: space-between;
          align-items: space-between;
}

.prices-top .prices-details,
.prices-top .goto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.prices-top .prices-details {
  width: calc(100% - 40px);
}

.prices-top .prices-details span {
  display: block;
  width: 100%;
}

.prices-top .prices-details span:nth-child(2) {
  color: #eb5893;
}

.prices-top .goto {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 40px;
          flex: 0 0 40px;
  max-width: 40px;
}

.prices-table {
  width: 100%;
  font-size: 14px;
}

.prices-table th, .prices-table td {
  width: 14.28%;
  padding: 8px 0;
  border-bottom: solid 1px #4fbaad;
}

.prices-table th {
  font-weight: 400;
}

.prices-table td {
  font-weight: 700;
}

.prices-table a, .prices-table a:visited {
  color: #000;
}

.prices-table a:hover {
  color: #4fbaad;
}

@media screen and (max-width: 574px) {
  .prices-table .no-smartphone {
    display: none;
  }
}

@media screen and (min-width: 575px) {
  .prices-table .yes-smartphone {
    display: none;
  }
  .prices-table .no-smartphone {
    display: inline-block;
  }
}

.prices-goto {
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: #384044;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%234fbaad'%2F%3E%3C%2Fsvg%3E");
  background-repeat: no-repeat;
  background-size: 14px 14px;
  background-position: center;
  border-radius: 50%;
}

.prices-goto.with-top-border {
  margin-top: 10px;
}

.hotel-service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
  margin-bottom: 30px;
}

.hotel-service-list li {
  padding-left: 15px;
  padding-right: 15px;
}

.hotel-service-list li > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  padding: 8px 0;
  border-bottom: solid 1px #4fbaad;
}

.hotel-service-list li i {
  width: 20px;
  margin-right: 15px;
}

.hotel-list-item {
  margin-bottom: 30px;
}

.hotel-list-item figure.img-bgas {
  height: 320px;
  margin-bottom: 0;
}

.hotel-list-item figure.img-bgas::after {
  width: 100%;
  height: 72px;
  bottom: 0;
  left: 0;
  right: 0;
  background: black;
  background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.1)));
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0.1) 100%);
}

.hotel-list-item .prices-box,
.hotel-list-item .description,
.hotel-list-item .service-list {
  margin-bottom: 15px;
}

.hotel-list-item .prices-box {
  position: relative;
  margin-top: -52px;
}

.hotel-list-item .prices-box > nav {
  position: relative;
  margin-bottom: 15px;
}

.hotel-list-item .prices-box .nav-tabs {
  border-bottom: none;
}

.hotel-list-item .prices-box .nav-tabs .nav-link {
  padding: 5px 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FFF;
  color: #384044;
  border-radius: 0;
}

.hotel-list-item .prices-box .nav-tabs .nav-link > span {
  padding-right: 5px;
}

.hotel-list-item .prices-box .nav-tabs .nav-item.show .nav-link, .hotel-list-item .prices-box .nav-tabs .nav-link.active, .hotel-list-item .prices-box .nav-tabs .nav-link:hover {
  border: none;
  background-color: #fbb800;
  font-weight: 700;
}

.hotel-list-item .prices-box .swiper-button-next,
.hotel-list-item .prices-box .swiper-button-prev {
  width: 40px;
  height: 40px;
  background-color: #fbb800;
  background-size: 14px 14px;
  margin-top: 0;
  top: 5px;
  border-radius: 50%;
}

.hotel-list-item .prices-box .swiper-button-next, .hotel-list-item .prices-box .swiper-container-rtl .swiper-button-prev {
  left: 90px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M27%2C22L27%2C22L5%2C44l-2.1-2.1L22.8%2C22L2.9%2C2.1L5%2C0L27%2C22L27%2C22z'%20fill%3D'%23384044'%2F%3E%3C%2Fsvg%3E");
}

.hotel-list-item .prices-box .swiper-button-prev, .hotel-list-item .prices-box .swiper-container-rtl .swiper-button-next {
  left: 20px;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20viewBox%3D'0%200%2027%2044'%3E%3Cpath%20d%3D'M0%2C22L22%2C0l2.1%2C2.1L4.2%2C22l19.9%2C19.9L22%2C44L0%2C22L0%2C22L0%2C22z'%20fill%3D'%23384044'%2F%3E%3C%2Fsvg%3E");
}

.hotel-list-item .prices-box .swiper-button-next.swiper-button-disabled, .hotel-list-item .prices-box .swiper-button-prev.swiper-button-disabled {
  opacity: .6;
}

@media screen and (max-width: 399px) {
  .hotel-list-item .prices-box .nav-tabs .nav-link > i {
    display: none;
  }
}

@media screen and (max-width: 574px) {
  .hotel-list-item .prices-box > nav {
    padding-top: 52px;
  }
}

@media screen and (min-width: 575px) {
  .hotel-list-item .prices-box > nav {
    height: 58px;
  }
  .hotel-list-item .prices-box .swiperPrices {
    margin-left: 33.333333%;
    width: 66.666667%;
  }
}

.hotel-list-item .details {
  font-size: 11px;
}

.hotel-list-item .description-title {
  font-weight: bold;
}

@media screen and (min-width: 575px) {
  .hotel-list-item .hotel-service-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .hotel-list-item .hotel-service-list li {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
    max-width: 50%;
  }
}

.hotel-list-item .bottomline {
  padding: 15px 0;
}

.hotel-list-item .bottomline .line {
  height: 100%;
  border-bottom: solid 1px #384044;
}

.hotel-list-item .bottomline .goto, .hotel-list-item .bottomline .goto:visited, .hotel-list-item .bottomline .goto:hover {
  position: relative;
  bottom: -5px;
  font-size: 14px;
  color: #384044;
}

.single-hotel-section figure.img-bgas {
  height: 500px;
}

.single-hotel-section .topline h1 {
  font-size: 30px;
}

.single-hotel-section .topline .single-hotel-call {
  font-size: 20px;
}

.single-hotel-section .content-box {
  position: relative;
  padding-top: 15px;
  font-size: 16px;
  font-weight: 400;
}

.single-hotel-section .content-box::before {
  width: 65px;
  height: 10px;
  top: 0;
  left: 0;
  background-color: #384044;
}

.single-hotel-section .content-box.content-box-1 .titoletto {
  font-weight: 700;
  font-size: 16px;
  text-transform: uppercase;
}

.single-hotel-section .content-box.content-box-1::before {
  background-color: #4fbaad;
}

.single-hotel-section .content-box.content-box-2 {
  font-size: 28px;
}

.single-hotel-section .content-box .description {
  margin-bottom: 30px;
}

.single-hotel-section .hotel-service-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media screen and (max-width: 991px) {
  .single-hotel-section .content-box {
    margin-bottom: 60px;
  }
}

@media screen and (min-width: 992px) {
  .single-hotel-section .topline .stars {
    margin-left: 30px;
  }
}

.hotel-booking-box {
  position: relative;
}

.hotel-booking-box .box1, .hotel-booking-box .box2 {
  padding: 15px;
}

.hotel-booking-box .box1 {
  background-color: rgba(56, 64, 68, 0.15);
}

.hotel-booking-box .box2 {
  background-color: rgba(251, 184, 0, 0.2);
}

.hotel-booking-box .box3 {
  padding: 30px 0;
  background-color: #FFF;
}

.hotel-booking-box .box3 .title {
  font-weight: 700;
  font-size: 18px;
}

.hotel-booking-box .description {
  font-size: 16px;
}

.hotel-booking-box .description .description-title {
  font-size: 18px;
}

.hotel-booking-box .price {
  font-size: 48px;
}

.hotel-booking-box .price .value {
  font-weight: 700;
}

@media screen and (min-width: 991px) {
  .hotel-booking-box .description {
    margin-top: 55px;
  }
  .hotel-booking-box .price {
    position: absolute;
    bottom: -33px;
  }
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #384044;
}

a, a:hover, a:visited {
  color: #4fbaad;
}

.z-index-1 {
  z-index: 1;
}

.z-index-2 {
  z-index: 2;
}

@media screen and (max-width: 991px) {
  .no-mobile {
    display: none !important;
  }
  .mobile-order-0 {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
  }
  .mobile-order-1 {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  .mobile-order-2 {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}

@media screen and (min-width: 992px) {
  .no-desktop {
    display: none !important;
  }
}

.position-relative {
  position: relative;
}

.row15 {
  margin-left: -7.5px;
  margin-right: -7.5px;
}

.row15 [class*="col-"] {
  padding-right: 7.5px;
  padding-left: 7.5px;
}

.bold {
  font-weight: 700;
}

.btn {
  white-space: pre-wrap;
  border-radius: 0;
}

.btn-yellow {
  background-color: #fbb800;
  color: #384044;
}

.btn-yellow:hover {
  opacity: 0.9;
}

.btn-green {
  background-color: #4fbaad;
  color: #384044;
}

.btn-green:hover {
  opacity: 0.9;
}

.btn-more, .btn-more:visited {
  font-size: 18px;
  background-color: #384044;
  color: #4fbaad;
  text-transform: uppercase;
  padding: 10px 50px;
}

.btn-more:hover, .btn-more:visited:hover {
  opacity: 0.9;
}

.btn-transparent, .btn-transparent:visited {
  background-color: transparent;
  font-size: 18px;
  color: #FFF;
  border: solid 1px #FFF;
  text-transform: uppercase;
}

.btn-transparent:hover, .btn-transparent:visited:hover {
  background-color: #FFF;
  color: #384044;
}

.section-main {
  padding: 65px 0;
}

.section-main.only-padding-top {
  padding: 0 65 0 0 0;
}

.section-main.only-padding-bottom {
  padding: 0 0 65px 0;
}

.section-first.home {
  background: #f5b937;
  background: linear-gradient(45deg, #f5b937 0%, #e06491 100%);
  padding: 65px 0 130px 0;
}

.primary-title {
  font-size: 48px;
}

.primary-title h1 {
  font-size: 48px;
}

.primary-title h2 {
  font-size: 24px;
}

.primary-description {
  font-size: 16px;
}

.section-first.home .primary-title h1 {
  font-size: 46px;
}

.section-first.home .primary-title, .section-first.home .primary-description {
  color: #FFF;
}

.section-home-primopiano {
  background-attachment: fixed;
  background-image: url(../images/examples/Depositphotos_12854305_original.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.box-home-primopiano {
  background: #62b7ae;
  background: -webkit-gradient(linear, left top, right top, from(rgba(98, 183, 174, 0.7)), to(rgba(34, 179, 224, 0.7)));
  background: linear-gradient(90deg, rgba(98, 183, 174, 0.7) 0%, rgba(34, 179, 224, 0.7) 100%);
  padding: 15px;
  color: #FFF;
}

.home-primopiano-item {
  position: relative;
  color: #FFF;
}

.home-primopiano-item .title {
  font-size: 48px;
  line-height: 1em;
  margin-bottom: 30px;
}

.home-primopiano-item .description {
  font-size: 18px;
  margin-bottom: 30px;
}

.home-primopiano-item .note {
  font-size: 12px;
  margin-bottom: 30px;
}

@media screen and (max-width: 574px) {
  .home-primopiano-item .btn {
    margin-bottom: 30px;
  }
  .home-primopiano-item i {
    width: 150px;
  }
}

@media screen and (min-width: 575px) {
  .home-primopiano-item i {
    width: 100%;
  }
}

@media screen and (max-width: 991px) {
  .home-primopiano-item {
    margin-bottom: 60px;
  }
}

@media screen and (max-width: 991px) {
  .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::after, .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    height: 1px;
    width: 100%;
    background-color: #FFF;
  }
  .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::before {
    top: -30px;
  }
  .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::after {
    bottom: -30px;
  }
}

@media screen and (min-width: 992px) {
  .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::after, .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    height: 100%;
    width: 1px;
    background-color: #FFF;
  }
  .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::before {
    left: -15px;
  }
  .box-home-primopiano [class*="col-"]:nth-child(2) .home-primopiano-item::after {
    right: -15px;
  }
}

.section-newsletter .description {
  font-size: 24px;
}

.section-newsletter form {
  font-size: 12px;
}

.section-newsletter form .btn {
  font-size: 12px;
  text-transform: uppercase;
  height: calc(2.25rem + 2px);
  padding: .375rem .75rem;
  width: 100%;
}

.section-newsletter form .form-control {
  font-size: 12px;
}

footer {
  background-color: #384044;
  color: #FFF;
  padding: 60px 0;
}

footer .green {
  color: #4fbaad;
}

footer .row:nth-child(1) {
  margin-bottom: 30px;
}

footer .logo {
  display: block;
}

footer .logo img {
  width: 250px;
}

footer .menu-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: -7px;
  margin-right: -7px;
}

footer .menu-social li {
  padding-left: 7px;
  padding-right: 7px;
}

footer .menu-social li a, footer .menu-social li a:visited, footer .menu-social li a:hover {
  color: #FFF;
}

footer .menu-social li i {
  color: #4fbaad;
  font-size: 16px;
}

.react-bootstrap-daterangepicker-container {
  display: block !important;
  width: 100% !important;
}
/*# sourceMappingURL=frontend.css.map */